<%- include("mainHeader") -%>

<div class="container heading">
  <div class="column">SSP</div>
  <div class="column">GENDER</div>
  <div class="column">MORPH</div>
  <div class="column">BIRTH DAY</div>
  <div class="column">ID</div>
  <div class="column">FEEDING FREQUENCY</div>
</div>


<% for(let i=0;i<content.length;i++){  %>


  <div class="container">
    <div class="column"><%= content[i].ssp %></div>
    <div class="column"><%= content[i].gender %></div>
    <div class="column"><%= content[i].morph %></div>
    <div class="column"><%= content[i].birthDay %></div>
    <div class="column"><%= content[i].userID %></div>
    <div class="column"><%= content[i].feedingFrequency %></div>
  </div>


<% } %>
 


<%- include("footer") -%>